.vscode
.DS_Store
node_modules
REFERENCE_Learning
playwright-report
test-results
allure-results
UNWANTED_FILES.md
Readme.md
package-lock.json
package.json
packagejson.md
playwright.config.ts
state.json


# cypress/reports/mochawesome-report/
# cypress/screenshots/
# browserstack.json


#~/.jenkins
#~/.android
#.jenkins
#.android